# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dragen.sites.vcf.gz
dragen.vcf.gz
dragen1000.vcf
result.sites.old.vcf
result.sites.vcf
result.vcf
result.vcf.samples
SAMPLE_ID_MAP_2024_Q2_163K_primaryGRID_v5_202410.csv
test.sites.vcf
test.vcf
test.vcf.samples
agd_vcf.vcf.gz
SAMPLE_ID_MAP_2024_Q2_163K_primaryGRID_v5_202410.txt
